body{
	background: #cccccc;
	text-align:center;
}
.player_one a{
	display: block;
	text-align: left;
	text-decoration: none;
	color: black;
	margin-bottom: 5px;
}
.player_one{
	background: white;
	padding: 20px;
	border: 2px solid grey;
	border-radius: 10px;
}

.player_two{
	background:white;
	width: 350px;
	border: 2px solid grey;
	border-radius: 10px;
	 position: absolute;
  top: 105%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.player_two video{
	padding-top: 20px;
}
.player_two p{
	text-align: left;
	padding-left: 30px;
}
li{
	list-style-type: none;
}